<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <h1>Test</h1>
    <div>
        <form action="/make" method="post">
            <label ipsel for="input-array">Array Data</label>
            <input type="text" id="input-array" name="input_array">
            <button type="submit" id="make-array">Make Array</button>
        </form>

    </div>
    
    <div>
        <label for="input-array">Array Data</label>
        <input type="text" id="input-array">
        <button>Search</button>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, nesciunt.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, nesciunt.</p>
    </div>
    
    <div>
        <label for="input-array">Array Data</label>
        <input type="text" id="input-array">
        <button>Search</button>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, itaque?</p>
    </div>

</body>
</html>